
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/icon.css" rel="stylesheet" />
    <link href="~/Content/wu.css" rel="stylesheet" />
    <script src="~/easyui/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/easyui/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/scripts/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="~/easyui/themes/default/easyui.css" />
    <script type="text/javascript">
	/**
	* Name 添加记录
	*/
	function add(){
		$('#wu-form').form('submit', {
		    url: '../../SysAlternatives/SaveAdd',
		    success: function (data) {
				if(data){
					$.messager.alert('信息提示','提交成功！','info');
					$('#wu-dialog').dialog('close');
					window.location.reload();

				}
				else
				{
					$.messager.alert('信息提示','提交失败！','info');
				}
			}
		});
	}

	/**
	* Name 修改记录
	*/
	function edit() {
	    var applystatus = $('input[name="ApplyStatus"]:checked').val();
	    var applyrate = $("#Applyrate").val();
	    var applyid = $("#ID").val();
	    $.ajax({
	        url: '../../SysWorkOffs/SaveApprove',
	        data: { applystatus: applystatus, applyrate: applyrate, applyid: applyid },
	        async: false,
	        method: 'get',
	        success: function (data) {
	                $.messager.alert('信息提示', '提交成功！', 'info');
	                $('#wu-dialog').dialog('close');
	                window.location.reload();
	            
	            
	        }
	    });
		
	}

	/**
	* Name 删除记录
	*/
	function remove(){
		$.messager.confirm('信息提示','确定要删除该备选项？', function(result){
			if(result){
				var items = $('#wu-datagrid').datagrid('getSelected');
				var ids = [];
				$(items).each(function(){
					ids.push(this.ID);
				});
				//alert(ids);return;
				$.ajax({
				    url: '../../SysAlternatives/Delete',
				    data: { ids: ids.toString() },
					success:function(data){
						if(data){
						    $.messager.alert('信息提示', '删除成功！', 'info');
						    setTimeout(function () { window.location.reload() }, 800);

						}
						else
						{
						    $.messager.alert('信息提示', '删除失败！', 'info');
						    setTimeout(function () { window.location.reload() }, 800);

						}
					}
				});
			}
		});
	}

	/**
	* Name 打开添加窗口
	*/
	function openAdd(){
		$('#wu-form').form('clear');
		$('#wu-dialog').dialog({
			closed: false,
			modal:true,
            title: "添加信息",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: add
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#wu-dialog').dialog('close');
                }
            }]
        });
	}

	/**
	* Name 打开修改窗口
	*/

	function getJsonObjLength(jsonObj) {
	    var Length = 0;
	    for (var item in jsonObj) {
	        Length++;
	    }
	    return Length;
	}
	function openApprove(){
	    $('#wu-form').form('clear');
	    var row = $('#wu-datagrid').datagrid('getSelected');
	    if (row) {
	        var id = row.ID;
	        //alert(id);
	        $.ajax({
	            url: '../../SysWorkOffs/GetWorkOffInfo',
	            data: { id: id },
	            async: false,
                dataType:"json",
	            method:'get',
	        success: function (data) {
	            $('#wu-form').form('load', data);
	        }
	    });
	        $('#wu-dialog').dialog({
	            closed: false,
	            modal: true,
	            title: "修改信息",
	            buttons: [{
	                text: '确定',
	                iconCls: 'icon-ok',
	                handler: edit
	            }, {
	                text: '取消',
	                iconCls: 'icon-cancel',
	                handler: function () {
	                    $('#wu-dialog').dialog('close');
	                }
	            }]
	        });
	        var afterstr = "";
	        $(".tr_after").remove();
	        $.ajax({
	            url: '../../SysWorkOffs/GetApproveDetail',
	            data: { id: id },
	            async:false,
	            dataType: "json",
	            method: 'get',
	            success: function (data) {
	                var length = getJsonObjLength(data);
	                for (var i = 0; i < length; i++) {

	                    //alert(item);
	                    afterstr += '<tr class="tr_after"><td align="right" width="30">审批人:</td><td align="right" width="30">' + data[i].UserName + '</td></tr>' +
	                              '<tr class="tr_after"><td align="right" width="70">审批意见:</td><td align="right" width="30">' + data[i].Applyrate + '</td></tr>' +
	                             '<tr class="tr_after"><td align="right" width="70">审批结果:</td><td align="right" width="30">' + data[i].ApplyStatus + '</td></tr>' +
                                  '<tr class="tr_after" style="height:20px"></tr>';
                        
	                }
	                $("#tr_reason").after(afterstr);
	            }
	        })
	    }

	}

	/**
* Name 打开详情窗口
*/
	function openDetail() {
	    $('#wu-form').form('clear');
	    var row = $('#wu-datagrid').datagrid('getSelected');
	    if (row) {
	        var id = row.ID;
	        $.ajax({
	            url: '../../SysAlternatives/GetInfo',
	            data: { id: id },
	            async: false,
	            dataType: "json",
	            method: 'get',
	            success: function (data) {
	                $('#wu-form').form('load', data);
	            }
	        });
	        $('#wu-dialog').dialog({
	            closed: false,
	            modal: true,
	            title: "修改信息",
	            buttons: [{
	                text: '确定',
	                iconCls: 'icon-ok',
	                handler: function () {
	                    $('#wu-dialog').dialog('close');
	                }
	            }]
	        });
	    }
	}

    //查询按钮
	function doSearch() {
	    var atext = $('#AlternativeText_search').val();
	    var agid = $('#ComboBoxGroup').combobox("getValue");
	    debugger;
	    $('#wu-datagrid').datagrid('load', {
	        AlternativeText: atext,
	        AlternativeGroupID: agid
	    });
	}

    //清除搜索条件
	function clearquery() {
	    $('#AlternativeText_search').val('');
	    $('#ComboBoxGroup').combobox('setValue', '0');
	}

	$(document).ready(function () {
	    //doSearch();
	})
    </script>
</head>
<body>

    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false">
            <!-- Begin of toolbar -->
            <div id="wu-toolbar" class="datagrid-toolbar">
                <div class="wu-toolbar-button">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openAdd()" plain="true">添加</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openApprove()" plain="true">修改</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openDetail()" plain="true">查看详情</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="openApprove()" plain="true">进行审批</a>

                </div>
                @*<div class="wu-toolbar-search">
                        <label>备选项分组：</label>
                        <select class="easyui-combobox" panelHeight="auto" style="width:100px" id="ComboBoxGroup" name="ComboBoxGroup" data-options="required:true,
                       url:'../../SysAlternatives/GetGroup/0',
                       method:'get',
                       multiple:false,
                       valueField:'AlternativeGroupID',
                       textField:'AlternativeGroupText'
                               "></select>
                        <label>备选项名称：</label><input class="wu-text" id="AlternativeText_search" style="width:100px">
                        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">开始检索</a>
                        <a href="#" class="easyui-linkbutton" onclick="clearquery()">清空条件</a>

                    </div>*@
            </div>
            <!-- End of toolbar -->
            <table id="wu-datagrid" class="easyui-datagrid" toolbar="#wu-toolbar" title="Basic DataGrid" style="width:inherit; height:inherit"
                   data-options="singleSelect:true,collapsible:true,url:'../../SysWorkOffs/GetApprove',pagesize:3,method:'get'"
                   footer="#foot" pagination="true" rownumbers="true" singleselect="true" fitColumns="true">
                <thead>
                    <tr>
                        <th field="ck" checkbox="true"></th>
                        <th data-options="field:'ID',width:80">ID</th>
                        <th data-options="field:'ProposerID',width:100">申请人ID</th>
                        <th data-options="field:'OverTimeStart',width:120,align:'right'">加班开始时间</th>
                        <th data-options="field:'OverTimeEnd',width:120">加班结束时间</th>
                        <th data-options="field:'VacationStart',width:120">调休开始时间</th>
                        <th data-options="field:'VacationEnd',width:120">调休结束时间</th>
                        <th data-options="field:'Time',width:120">时长</th>
                        <th data-options="field:'WorkOffType',width:120">调休类型</th>
                        <th data-options="field:'VacationReason',width:120">调休原因</th>
                        <th data-options="field:'Emergency',width:120">紧急联系方式</th>
                        <th data-options="field:'CopyFor',width:120">抄送人</th>
                        <th data-options="field:'ApplyStatus',width:60,align:'center'">申请状态</th>
                    </tr>
                </thead>
            </table>
            
        </div>
    </div>

    <!-- Begin of easyui-dialog -->
    <div id="wu-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
        <form id="wu-form" method="post" name="form1" action="~/SysWorkOffs/SaveAdd">
            <table>
                <tr style="display:none;">
                    <td width="70" align="right">ID:</td>
                    <td><input type="text" name="ID" id="ID" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">调休人ID:</td>
                    <td><input type="text" name="ProposerID" disabled="disabled" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">调休人姓名:</td>
                    <td><input type="text" name="UserName" disabled="disabled" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">调休原因:</td>
                    <td><input type="text" name="VacationReason"  disabled="disabled" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">调休类型:</td>
                    <td><input type="text" name="WorkOffType"  disabled="disabled" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">紧急联系人:</td>
                    <td>
                        <input type="text" name="Emergency"  disabled="disabled" class="wu-text" />
                    </td>
                </tr>
                <tr>
                    <td width="70" align="right">加班开始时间:</td>
                    <td>
                        <input class="easyui-datetimebox" value="" disabled="disabled"  name="OverTimeStart" id="OverTimeStart" style="width:200px">
                    </td>
                </tr>
                <tr>
                    <td width="70" align="right">加班结束时间:</td>
                    <td>
                        <input class="easyui-datetimebox" value=""  disabled="disabled" name="OverTimeEnd" id="OverTimeEnd" style="width:200px">
                    </td>
                </tr>
                <tr>
                    <td width="70" align="right">调休开始时间:</td>
                    <td>
                        <input class="easyui-datetimebox" value="" disabled="disabled"  name="VacationStart" id="VacationStart" style="width:200px">
                    </td>
                </tr>
                <tr>
                    <td width="70" align="right">调休结束时间:</td>
                    <td>
                        <input class="easyui-datetimebox" value="" disabled="disabled"  name="VacationEnd" id="VacationEnd" style="width:200px">
                    </td>
                </tr>
                <tr style="display:none">
                    <td width="70" align="right">审批人流:</td>
                    <td>
                        <input type="text" value="" name="SendFor" id="SendFor" style="display:none" />
                    </td>
                </tr>
                <tr style="display:none" id="tr_reason">
                    <td width="70" align="right">抄送人流:</td>
                    <td>
                        <input type="text" name="CopyFor" id="CopyFor" style="display:none" />
                    </td>
                </tr>
                <tr>
                    <td align="right" width="70">审批意见:</td>
                    <td><textarea class="wu-textarea" id="Applyrate" name="Applyrate"></textarea></td>
                </tr>
                <tr>
                    <td align="right" width="70">审批结果:</td>
                    <td>
                        <input type="radio" name="ApplyStatus"  value="1"/>通过
                        <input type="radio" name="ApplyStatus"  value="0"/>驳回
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- End of easyui-dialog -->
</body>
</html>



