@model IEnumerable<AttenceProject.Models.SysDept>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/easyui/themes/default/easyui.css" />
    <link href="~/Content/icon.css" rel="stylesheet" />
    <link href="~/Content/wu.css" rel="stylesheet" />
    <script src="~/easyui/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/easyui/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/scripts/easyui-lang-zh_CN.js"></script>
    <link href="~/zTree_v3/css/demo.css" rel="stylesheet" />
    <link href="~/zTree_v3/css/zTreeStyle/img/zTreeStyle.css" rel="stylesheet" />
    <script src="~/zTree_v3/js/jquery.ztree.core.js"></script>
    <SCRIPT type="text/javascript">
		<!--
        var setting = {
            callback: {
                onClick: showInfo
            },
			data: {
				simpleData: {
					enable: true
				}
			}
		};

        function showInfo(event, treeId, treeNode) {
            if (treeNode.id <= 10000) {
                $(".deptinfo").css('display', 'block');
                $(".userinfo").css('display', 'none');
                $.ajax({
                    url: "../SysDepts/GetDeptInfo",
                    data: { id: treeNode.id },
                    type: "get",
                    dataType: "json",
                    success: function (result) {
                        var deptname = result.DeptName;
                        var copyfor = result.CopyFor;
                        $("#DeptName").val(deptname);
                        $("#CopyFor").val(copyfor);
                        //$('#wu-form').form('load', data);
                    }
                });
            }
            if (treeNode.id > 10000) {
                $(".deptinfo").css('display', 'none');
                $(".userinfo").css('display', 'block');
                $.ajax({
                    url: "../SysDepts/GetUserInfo",
                    data: { id: treeNode.id-10000 },
                    type: "get",
                    dataType: "json",
                    success: function (result) {
                        var username = result.UserName;
                        var userstate = result.UserState;
                        var userrole = result.UserRole;

                        $("#UserName").val(username);
                        $("#UserState").val(userstate);
                        $("#UserRole").val(userrole);
                        //$('#wu-form').form('load', data);
                    }
                });
            }
		   
		};
		$(document).ready(function () {
		    var zNodes;
		    $.ajax({
		        url: "../SysDepts/GetGeneralDeptJson", success: function (result) {
		            //alert(result);
		            zNodes = JSON.parse(result);
		            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
		            
		        }
		    });
		    $(".deptinfo").css('display', 'block');
		    $(".userinfo").css('display', 'none');


		});
		//-->
    </SCRIPT>
</head>
</head>
<body>


    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'west',border:true,split:true," title="分类管理" style="width:300px; padding:5px;">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
        <div data-options="region:'center',border:false">
            <!-- Begin of toolbar -->
            <div id="wu-toolbar">
                <div class="wu-toolbar-button">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="DeptAdd()" plain="true">添加部门</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="PersonAdd()" plain="true">添加员工</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="removeDept()" plain="true">删除部门</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="removeAll()" plain="true">删除部门及员工</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="removePerson()" plain="true">删除员工</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="EditDept()" plain="true">编辑部门</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-print" onclick="EditPerson()" plain="true">编辑员工</a>
                    </div>
                <div class="wu-toolbar-search">
                    <label>起始时间：</label><input class="easyui-datebox" style="width:100px">
                    <label>结束时间：</label><input class="easyui-datebox" style="width:100px">
                    <label>用户组：</label>
                    <select class="easyui-combobox" panelHeight="auto" style="width:100px">
                    </select>
                    <label>关键词：</label><input class="wu-text" style="width:100px">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-search">开始检索</a>
                </div>
                <form id="wu-form" method="post" class="deptinfo">
                    <table>
                        <tr style="display:none;">
                            <td width="70" align="right">ID:</td>
                            <td><input type="text" name="ID" class="wu-text" /></td>
                        </tr>
                        <tr>
                            <td width="70" align="right">部门名称:</td>
                            <td><input type="text" id="DeptName" name="DeptName" class="wu-text" /></td>
                        </tr>
                        <tr>
                            <td width="70" align="right">部门申请抄送人:</td>
                            <td><input type="text" id="CopyFor" name="CopyFor" class="wu-text" /></td>
                        </tr>
                    </table>
                </form>

                <form id="wu-form" method="post" class="userinfo">
                    <table>
                        <tr style="display:none;">
                            <td width="70" align="right">ID:</td>
                            <td><input type="text" name="ID" class="wu-text" /></td>
                        </tr>
                        <tr>
                            <td width="70" align="right">用户名称:</td>
                            <td><input type="text" id="UserName" name="UserName" class="wu-text" /></td>
                        </tr>
                        <tr>
                            <td width="70" align="right">用户权限:</td>
                            <td><input type="text" id="UserRole" name="UserRole" class="wu-text" /></td>
                        </tr>
                        <tr>
                            <td width="70" align="right">用户账户状态:</td>
                            <td><input type="text" id="UserState" name="UserState" class="wu-text" /></td>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- End of toolbar -->
            <table id="wu-datagrid" toolbar="#wu-toolbar"></table>
        </div>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <!-- Begin of easyui-dialog -->
    <div id="wu-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
        <form id="wu-form" method="post">
            <table>
                <tr style="display:none;">
                    <td width="70" align="right">ID:</td>
                    <td><input type="text" name="ID" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">备选项名称:</td>
                    <td><input type="text" name="AlternativeText" class="wu-text" /></td>
                </tr>
                <tr>
                    <td align="right" width="70">备选项名称:</td>
                    <td>
                        <select class="easyui-combobox" panelHeight="auto" style="width:100px" id="AlternativeGroupID" name="AlternativeGroupID" data-options="required:true,
                   url:'../../SysAlternatives/GetGroup/1',
                   method:'get',
                   multiple:false,
                   valueField:'AlternativeGroupID',
                   textField:'AlternativeGroupText'
                           "></select>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="70">备选项信息:</td>
                    <td><input type="text" name="Remarks" class="wu-text" /></td>
                </tr>
            </table>
        </form>
    </div>
    <!-- End of easyui-dialog -->
</body>
</html>
