@model IEnumerable<AttenceProject.Models.SysDept>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/easyui/themes/default/easyui.css" />
    <link href="~/Content/icon.css" rel="stylesheet" />
    <link href="~/Content/wu.css" rel="stylesheet" />
    <script src="~/easyui/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/easyui/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/scripts/easyui-lang-zh_CN.js"></script>
    <link href="~/zTree_v3/css/demo.css" rel="stylesheet" />
    <link href="~/zTree_v3/css/zTreeStyle/img/zTreeStyle.css" rel="stylesheet" />
    <script src="~/zTree_v3/js/jquery.ztree.core.js"></script>
    <SCRIPT type="text/javascript">
		<!--
        var setting = {
            callback: {
                onClick: showInfo
            },
			data: {
				simpleData: {
					enable: true
				}
			}
		};

        function showInfo(event, treeId, treeNode) {
            if (treeNode.id <= 10000) {
                $(".deptinfo").css('display', 'block');
                $(".userinfo").css('display', 'none');
                $.ajax({
                    url: "../SysDepts/GetDeptInfo",
                    data: { id: treeNode.id },
                    type: "get",
                    dataType: "json",
                    success: function (result) {
                        var deptname = result.DeptName;
                        var copyfor = result.CopyFor;
                        var id = result.ID;
                        $("#DeptID").val(id);
                        $("#DeptName").val(deptname);
                        $("#CopyFor").val(copyfor);
                        //$('#wu-form').form('load', data);
                    }
                });
            }
            if (treeNode.id > 10000) {
                $(".deptinfo").css('display', 'none');
                $(".userinfo").css('display', 'block');
                $.ajax({
                    url: "../SysDepts/GetUserInfo",
                    data: { id: treeNode.id-10000 },
                    type: "get",
                    dataType: "json",
                    success: function (result) {
                        var username = result.UserName;
                        var userstate = result.UserState;
                        var userrole = result.UserRole
                        var userid = result.ID;
                        $("#UserID").val(userid);
                        $("#UserName").val(username);
                        $("#UserState").val(userstate);
                        $("#UserRole").val(userrole);
                        //$('#wu-form').form('load', data);
                    }
                });
            }
		   
		};
		$(document).ready(function () {
		    var zNodes;
		    $.ajax({
		        url: "../SysDepts/GetGeneralDeptJson", success: function (result) {
		            //alert(result);
		            zNodes = JSON.parse(result);
		            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
		            
		        }
		    });
		    $(".deptinfo").css('display', 'block');
		    $(".userinfo").css('display', 'none');


		});
        //-->


	/**
	* Name 打开添加部门窗口
	*/
		function DeptAdd() {
		    $('#wu-form-add').form('clear');
		    //alert($("#DeptID").val());
		    if ($(".deptinfo").css('display') == 'none') {
		        $.messager.alert('信息提示', '请点击选择一个部门再添加！', 'info');
		    } else {
		        $("#ParentNode").val($("#DeptID").val());
		        $('#wu-dialog-add').dialog({
		            closed: false,
		            modal: true,
		            title: "添加信息",
		            buttons: [{
		                text: '确定',
		                iconCls: 'icon-ok',
		                handler: add
		            }, {
		                text: '取消',
		                iconCls: 'icon-cancel',
		                handler: function () {
		                    $('#wu-dialog-add').dialog('close');
		                }
		            }]
		        });
		    }
		}

		/**
	* Name 添加部门记录
	*/
		function add() {
		    $('#wu-form-add').form('submit', {
		        url: '../../SysDepts/SaveAdd',
		        success: function (data) {
		            if (data) {
		                $.messager.alert('信息提示', '提交成功！', 'info');
		                $('#wu-dialog-add').dialog('close');
		                window.location.reload();

		            }
		            else {
		                $.messager.alert('信息提示', '提交失败！', 'info');
		            }
		        }
		    });
		}
	/**
	* Name 打开添加员工窗口
	*/
		function UserAdd() {
		    $('#wu-form-user-add').form('clear');
		    //alert($("#DeptID").val());
		    if ($(".deptinfo").css('display') == 'none') {
		        $.messager.alert('信息提示', '请点击选择一个部门再添加！', 'info');
		    } else {
		        $("#ParentNode_User").val($("#DeptID").val());
		        $('#wu-dialog-user-add').dialog({
		            closed: false,
		            modal: true,
		            title: "添加信息",
		            buttons: [{
		                text: '确定',
		                iconCls: 'icon-ok',
		                handler: useradd
		            }, {
		                text: '取消',
		                iconCls: 'icon-cancel',
		                handler: function () {
		                    $('#wu-dialog-user-add').dialog('close');
		                }
		            }]
		        });
		    }
		    
		}

		/**
	* Name 打开修改部门窗口
	*/
		function EditDept() {
		    $('#wu-form-user-add').form('clear');
		    $('#wu-dialog-dept-add').dialog({
		        closed: false,
		        modal: true,
		        title: "添加信息",
		        buttons: [{
		            text: '确定',
		            iconCls: 'icon-ok',
		            handler: deptedit
		        }, {
		            text: '取消',
		            iconCls: 'icon-cancel',
		            handler: function () {
		                $('#wu-dialog-user-add').dialog('close');
		            }
		        }]
		    });
		}
		/**
            * Name 修改部门信息
            */
		function deptedit() {
		    $('#wu-form-user-add').form('submit', {
		        url: '../../SysDepts/SaveDeptEdit',
		        success: function (data) {
		            if (data) {
		                $.messager.alert('信息提示', '提交成功！', 'info');
		                $('#wu-dialog-user-add').dialog('close');
		                window.location.reload();
		            }
		            else {
		                $.messager.alert('信息提示', '提交失败！', 'info');
		            }
		        }
		    });
		}
	/**
	* Name 添加员工记录
	*/
		function useradd() {
		    $('#wu-form-user-add').form('submit', {
		        url: '../../SysDepts/SaveUserAdd',
		        success: function (data) {
		            if (data) {
		                $.messager.alert('信息提示', '提交成功！', 'info');
		                $('#wu-dialog-user-add').dialog('close');
		                window.location.reload();

		            }
		            else {
		                $.messager.alert('信息提示', '提交失败！', 'info');
		            }
		        }
		    });
		}

		function removeAll() {
		    $.messager.confirm('提示信息', '确认删除此部门及其员工吗?', function (r) {
		        if (r) {
		            $.ajax({
		                url: "../SysDepts/DeleteAll",
		                data: { deptid: $("#DeptID").val()},
		                type: "get",
		                dataType: "json",
		                success: function (result) {
		                    window.location.reload();
		                }
		            });
		        }
		    });
		}
		function removePerson() {
		    $.messager.confirm('提示信息', '确认删除此员工吗?', function (r) {
		        if (r) {
		            $.ajax({
		                url: "../SysDepts/DeletePerson",
		                data: { userid:$("#UserID").val() },
		                type: "get",
		                dataType: "json",
		                success: function (result) {
		                    //$.messager.alert('信息提示', '删除成功！', 'info');
		                    window.location.reload();
		                }
		            });
		        }
		    });
		}
    </SCRIPT>
</head>
</head>
<body>


    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'west',border:true,split:true," title="分类管理" style="width:300px; padding:5px;">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
        <div data-options="region:'center',border:false">
            <!-- Begin of toolbar -->
            <div id="wu-toolbar">
                <div class="wu-toolbar-button">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="DeptAdd()" plain="true">添加部门</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="UserAdd()" plain="true">添加员工</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="removeAll()" plain="true">删除部门及员工</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="removePerson()" plain="true">删除员工</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="EditDept()" plain="true">编辑部门</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-print" onclick="EditPerson()" plain="true">编辑员工</a>
                    </div>
                <div class="wu-toolbar-search">
                    <label>起始时间：</label><input class="easyui-datebox" style="width:100px">
                    <label>结束时间：</label><input class="easyui-datebox" style="width:100px">
                    <label>用户组：</label>
                    <select class="easyui-combobox" panelHeight="auto" style="width:100px">
                    </select>
                    <label>关键词：</label><input class="wu-text" style="width:100px">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-search">开始检索</a>
                </div>
                <form id="wu-form" method="post" class="deptinfo">
                    <table>
                        <tr style="">
                            <td width="70" align="right">ID:</td>
                            <td><input type="text" name="DeptID" id="DeptID" class="wu-text" /></td>
                        </tr>
                        <tr>
                            <td width="70" align="right">部门名称:</td>
                            <td><input type="text" id="DeptName" name="DeptName" class="wu-text" /></td>
                        </tr>
                    </table>
                </form>
    
                <form id="wu-form" method="post" class="userinfo">
                    <table>
                        <tr style="">
                            <td width="70" align="right">ID:</td>
                            <td><input type="text" name="UserID" id="UserID" class="wu-text" /></td>
                        </tr>
                        <tr>
                            <td width="70" align="right">用户名称:</td>
                            <td><input type="text" id="UserName" name="UserName" class="wu-text" /></td>
                        </tr>
                        <tr>
                            <td width="70" align="right">用户权限:</td>
                            <td>
                            <input type="text" id="UserRole" name="UserRole" class="wu-text" />
                            </td>
                        </tr>
                        <tr>
                            <td width="70" align="right">用户账户状态:</td>
                            <td><input type="text" id="UserState" name="UserState" class="wu-text" /></td>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- End of toolbar -->
            <table id="wu-datagrid" toolbar="#wu-toolbar"></table>
        </div>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <!-- Begin of easyui-dialog （部门添加窗口）-->
    <div id="wu-dialog-add" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
        <form id="wu-form-add" method="post">
            <table>
                <tr style="display:none;">
                    <td width="70" align="right">ParentNode:</td>
                    <td><input type="text" name="ParentNode" id="ParentNode" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">部门名称:</td>
                    <td><input type="text" name="DeptName" class="wu-text" /></td>
                </tr>
            </table>
        </form>
    </div>
    <!-- End of easyui-dialog -->

    <!-- Begin of easyui-dialog （员工添加窗口）-->
    <div id="wu-dialog-user-add" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
        <form id="wu-form-user-add" method="post">
            <table>
                <tr style="display:none;">
                    <td width="70" align="right">ParentNode:</td>
                    <td><input type="text" name="ParentNode" id="ParentNode_User" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">员工姓名:</td>
                    <td><input type="text" name="UserName" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">员工登录名:</td>
                    <td><input type="text" name="LoginName" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">登录密码:</td>
                    <td><input type="text" name="PassWord" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">员工工号:</td>
                    <td><input type="text" name="UserCode" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">员工角色权限:</td>
                    <td><input type="text" name="UserRole" class="wu-text" /></td>
                </tr>

            </table>
        </form>
    </div>
    <!-- End of easyui-dialog -->
</body>
</html>
