
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/icon.css" rel="stylesheet" />
    <link href="~/Content/wu.css" rel="stylesheet" />
    <script src="~/easyui/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/easyui/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/scripts/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="~/easyui/themes/default/easyui.css" />
    <script type="text/javascript">
	/**
	* Name 添加记录
	*/
	function add(){
		$('#wu-form').form('submit', {
		    url: '../../SysAlternatives/SaveAdd',
		    success: function (data) {
				if(data){
					$.messager.alert('信息提示','提交成功！','info');
					$('#wu-dialog').dialog('close');
					window.location.reload();

				}
				else
				{
					$.messager.alert('信息提示','提交失败！','info');
				}
			}
		});
	}

	/**
	* Name 修改记录
	*/
	function edit(){
		$('#wu-form').form('submit', {
		    url: '../../SysAlternatives/SaveEdit',
			success:function(data){
				if(data=="success"){
					$.messager.alert('信息提示','提交成功！','info');
					$('#wu-dialog').dialog('close');
					window.location.reload();
				}
				else
				{
					$.messager.alert('信息提示','提交失败！','info');
				}
			}
		});
	}

	/**
	* Name 删除记录
	*/
	function remove(){
		$.messager.confirm('信息提示','确定要删除该备选项？', function(result){
			if(result){
				var items = $('#wu-datagrid').datagrid('getSelected');
				var ids = [];
				$(items).each(function(){
					ids.push(this.ID);
				});
				//alert(ids);return;
				$.ajax({
				    url: '../../SysAlternatives/Delete',
				    data: { ids: ids.toString() },
					success:function(data){
						if(data){
						    $.messager.alert('信息提示', '删除成功！', 'info');
						    setTimeout(function () { window.location.reload() }, 800);

						}
						else
						{
						    $.messager.alert('信息提示', '删除失败！', 'info');
						    setTimeout(function () { window.location.reload() }, 800);

						}
					}
				});
			}
		});
	}

	/**
	* Name 打开添加窗口
	*/
	function openAdd(){
		$('#wu-form').form('clear');
		$('#wu-dialog').dialog({
			closed: false,
			modal:true,
            title: "添加信息",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: add
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#wu-dialog').dialog('close');
                }
            }]
        });
	}

	/**
	* Name 打开修改窗口
	*/
	function openEdit(){
	    $('#wu-form').form('clear');
	    var row = $('#wu-datagrid').datagrid('getSelected');
	    if (row) {
	        var id = row.ID;
	        $.ajax({
	            url: '../../SysAlternatives/GetInfo',
	            data: { id: id },
	            async: false,
                dataType:"json",
	            method:'get',
	        success: function (data) {
	            $('#wu-form').form('load', data);
	        }
	    });
	        $('#wu-dialog').dialog({
	            closed: false,
	            modal: true,
	            title: "修改信息",
	            buttons: [{
	                text: '确定',
	                iconCls: 'icon-ok',
	                handler: edit
	            }, {
	                text: '取消',
	                iconCls: 'icon-cancel',
	                handler: function () {
	                    $('#wu-dialog').dialog('close');
	                }
	            }]
	        });
	    }

	}

	/**
* Name 打开详情窗口
*/
	function openDetail() {
	    $('#wu-form').form('clear');
	    var row = $('#wu-datagrid').datagrid('getSelected');
	    if (row) {
	        var id = row.ID;
	        $.ajax({
	            url: '../../SysAlternatives/GetInfo',
	            data: { id: id },
	            async: false,
	            dataType: "json",
	            method: 'get',
	            success: function (data) {
	                $('#wu-form').form('load', data);
	            }
	        });
	        $('#wu-dialog').dialog({
	            closed: false,
	            modal: true,
	            title: "修改信息",
	            buttons: [{
	                text: '确定',
	                iconCls: 'icon-ok',
	                handler: function () {
	                    $('#wu-dialog').dialog('close');
	                }
	            }]
	        });
	    }
	}

    //查询按钮
	function doSearch() {
	    var atext = $('#AlternativeText_search').val();
	    var agid = $('#ComboBoxGroup').combobox("getValue");
	    debugger;
	    $('#wu-datagrid').datagrid('load', {
	        AlternativeText: atext,
	        AlternativeGroupID: agid
	    });
	}

    //清除搜索条件
	function clearquery() {
	    $('#AlternativeText_search').val('');
	    $('#ComboBoxGroup').combobox('setValue', '0');
	}

	$(document).ready(function () {
	    doSearch();
	})
    </script>
</head>
<body>

    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false">
            <!-- Begin of toolbar -->
            <div id="wu-toolbar" class="datagrid-toolbar">
                <div class="wu-toolbar-button">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openDetail()" plain="true">查看审批详情</a>

                </div>
                <div class="wu-toolbar-search">
                    <label>备选项分组：</label>
                    <select class="easyui-combobox" panelHeight="auto" style="width:100px" id="ComboBoxGroup" name="ComboBoxGroup" data-options="required:true,
                   url:'../../SysAlternatives/GetGroup/0',
                   method:'get',
                   multiple:false,
                   valueField:'AlternativeGroupID',
                   textField:'AlternativeGroupText'
                           "></select>
                    <label>员工姓名：</label><input class="wu-text" id="UserName_search" style="width:100px">
                    <label>员工工号：</label><input class="wu-text" id="UserCode_search" style="width:100px">
                    <label>审批情况：</label><input class="wu-text" id="ApplyStatus_search" style="width:100px">
                    <label>申请类型：</label><input class="wu-text" id="type_Search" style="width:100px">
                    <label>具体类型：</label><input class="wu-text" id="DetailType_Search" style="width:100px">
                    <label>申请时长：</label><input class="wu-text" id="Time_search" style="width:100px">
                    <label>申请时间：</label><input class="wu-text" id="OpTime_search" style="width:100px">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">开始检索</a>
                    <a href="#" class="easyui-linkbutton" onclick="clearquery()">清空条件</a>

                </div>
            </div>
            <!-- End of toolbar -->
            <table id="wu-datagrid" class="easyui-datagrid" toolbar="#wu-toolbar" title="Basic DataGrid" style="width:inherit; height:inherit"
                   data-options="singleSelect:true,collapsible:true,url:'../../SysDepts/PersonalCount',pagesize:3,method:'get'"
                   footer="#foot" pagination="true" rownumbers="true" singleselect="true" fitColumns="true">
                <thead>
                    <tr>
                        <th field="ck" checkbox="true"></th>
                        <th data-options="field:'ID',width:80" hidden="hidden">ID</th>
                        <th data-options="field:'UserName',width:100">申请人姓名</th>
                        <th data-options="field:'UserCode',width:80,align:'right'">申请人工号</th>
                        <th data-options="field:'OpTime',width:100">申请时间</th>
                        <th data-options="field:'Time',width:80,align:'right'">申请时长</th>
                        <th data-options="field:'ApplyStatus',width:100">审批情况</th>
                        <th data-options="field:'DetailType',width:60,align:'center'">具体类型</th>
                        <th data-options="field:'type',align:'center',halign:'center',width:100">申请类型</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- Begin of easyui-dialog -->
    <div id="wu-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
        <form id="wu-form" method="post">
            <table>
                <tr style="display:none;">
                    <td width="70" align="right">ID:</td>
                    <td><input type="text" name="ID" class="wu-text" /></td>
                </tr>
                <tr>
                    <td width="70" align="right">备选项名称:</td>
                    <td><input type="text" name="AlternativeText" class="wu-text" /></td>
                </tr>
                <tr>
                    <td align="right" width="70">备选项名称:</td>
                    <td>
                        <select class="easyui-combobox" panelHeight="auto" style="width:100px" id="AlternativeGroupID" name="AlternativeGroupID" data-options="required:true,
                   url:'../../SysAlternatives/GetGroup/1',
                   method:'get',
                   multiple:false,
                   valueField:'AlternativeGroupID',
                   textField:'AlternativeGroupText'
                           "></select>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="70">备选项信息:</td>
                    <td><input type="text" name="Remarks" class="wu-text" /></td>
                </tr>
            </table>
        </form>
    </div>
    <!-- End of easyui-dialog -->

</body>
</html>
